// Glyphicons font path
$icon-font-path:        "../fonts/";


$font-family-sans-serif:     "Roboto", Helvetica, Arial, sans-serif !default;

// Colors
$brand-primary:         #d94f5c;

$menuHeight: 80px;
